body {
  margin: 0;
}

.navbar {
  background-color: lightpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem;
}

.navbar a {
  text-decoration: none;
  color: inherit;

}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.navbar li:hover {
  color: white;
}

.navbar li.current-page {
  background-color: lightcyan;
}


#home-link {
  font-size: 3rem;
}